#{extends 'main.html' /}
#{set title:'Система тестирования' /}

#{header account:account  /}

<div id="chart" class="container p-t-50" style="min-width: 300px; height: 600px; margin: 0 auto">

</div>

#{set 'moreScripts'}
    #{script src:"highcharts.js" /}
#{/set}

<script type="text/javascript">
    #{set 'docReady'}
        #{get 'docReady' /}

    var xcategories = ['Количество нажатий за 1 интервал', 'Количество нажатий за 2 интервал', 'Количество нажатий за 3 интервал', 'Количество нажатий за 4 интервал', 'Количество нажатий за 5 интервал', 'Количество нажатий за 6 интервал'];
    $('#chart').highcharts({
//        chart: {
//            type: 'scatter',
//            zoomType: 'xy'
//        },
        title: {
            text: 'Теппинг-тест статистика'
        },
        subtitle: {
            text: 'по пользователю: ${account.getEmail()}'
        },
        xAxis: {
            categories: xcategories,
            title: {
                enabled: true,
                text: 'Интервалы'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: 'Количество тапов'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 70,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x} инт., {point.y} кол-во'
                }
            }
        },
        series: [{
            type: 'scatter',
            name: "Все результаты",
            color: 'rgba(119, 152, 191, .5)',
            data: [
                #{list items:all, as:'res'}
                    [${res[0]}, ${res[1]}],
                #{/list}
            ]
        }, {
            type: "line",
            name: "Cредний результат",
            color: 'rgba(223, 83, 83, .5)',
            data: [
                #{list items:avg, as:'res'}
                    [${res[0]}, ${res[1]}],
                #{/list}
            ]
        }, {
            type: "line",
            name: "Последний результат",
            color: 'rgba(255,255,0, 3)',
            data: [
                #{list items:last, as:'res'}
                    [${res[0]}, ${res[1]}],
                #{/list}
            ]
        }]
    });
    #{/set}
</script>